.about-section {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  .picture-of-me {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: 30%;
    border: 4px solid $color__dark-blue;
  }
  p {
    width: 550px;
    align-self: center;
    color: $color__dark-grey;
  }
}

.section-headers {
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  color: $color__dark-grey;
}

.about-me {
  padding: 20px 0;
}