.about-section {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  .picture-of-me {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: 30%;
    border: 4px solid $color__dark-blue;
  }
  p {
    width: 550px;
    align-self: center;
    color: $color__dark-grey;
  }
}

.section-headers {
  text-align: center;
  text-transform: uppercase;
  color: $color__dark-grey;
}

.about-me {
  padding: 20px 0;
}

.project {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 50px auto;
  img {
    width: 450px;
    height: 250px; //CHANGE TO 100% IF YOU CAN GET IT TO WORK PROPERLY
  }
  .project-description {
    max-width: 450px;
    align-self: center;
    color: $color__dark-grey;
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: $color__light-orange;
      font-family: sans-serif;
      &:hover {
        color: $color__dark-orange;
      }
    }
  }
}

//contact me section
.contact-section {
  display: flex;
  width: 1000px;
  margin: 0 auto 50px;
  .contact-form {
    width: 50%;
    h4 {
      margin: 5px 0;
    }
    input {
      width: 75%;
      border: 2px solid $color__dark-blue;
      border-radius: 3px;
      padding: 5px;
    }
    textarea {
      width: 75%;
      height: 100px;
      border: 2px solid $color__dark-blue;
      border-radius: 3px;
      padding: 5px;
    }
    button {
      display: block;
      border: 2px solid $color__dark-blue;
      background-color: white;
      color: $color__dark-blue;
      padding: 5px 20px;
      border-radius: 3px;
      text-transform: uppercase;
      font-weight: bold;
      &:hover {
        border-color: $color__light-orange;
        background-color: $color__light-orange;
        color: white;
        cursor: pointer;
      }
    }
  }

  .contact-information {
    width: 50%;
  }

  .contact-title {
    font-weight: bold;
  }

  .contact-link {
    border: 2px solid $color__dark-blue;
    border-radius: 3px;
    color: $color__dark-blue;
    text-transform: uppercase;
    padding: 5px 20px;
    text-decoration: none;
    &:hover {
      color: white;
      border-color: $color__light-orange;
      background-color: $color__light-orange;
    }
  }

  .contact-links {
    margin-top: 30px;
  }
}

footer {
  background-color: $color__dark-blue;
  height: 50px;
}

