//Styling for main banner header

header {
    height: 90vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
        url('../../images/background-2.jpg');
    // background-color: $color__dark-green;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // &::after {
    //     content: '';
    //     background: white;
    //     height: 70px;
    //     transform: skewY(-2.5deg);
    //     position: absolute;
    //     left: 0;
    //     right: 0;
    //     bottom: 40px;
    //     z-index: 1;
    // }
    h1 {
        color: white;
        text-transform: uppercase;
        font-size: 40pt;
        display: block;
        text-align: center;
        margin: 0;
    }
    h2 {
        color: white;
        text-align: center;
        margin: 0;
    }
}

//CAT STYLING

#cat {
    position: relative;
    right: 250px;
}
