p, h1, h2, h3, h4, h5, h6, a {
  font-family: $main-font;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid $color__dark-blue;
  // box-shadow: 0px 2px 7px 2px grey;
  z-index: 100;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    li {
      text-transform: uppercase;
      margin: 0 10px;
      a {
        color: $color__dark-blue;
        text-decoration: none;
        position: relative;
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: $color__dark-blue;
          visibility: hidden;
          transform: scaleX(0);
          transition: all 0.3s ease-in-out 0s;
        }
        &:hover:before {
          visibility: visible;
          transform: scaleX(1);
        }
      }
    }
    // li>a:before {
    //   content: "";
		// 	position: absolute;
		// 	width: 100%;
		// 	height: 4px;
		// 	border-radius: 5px;
		// 	bottom: 0;
		// 	left: 0;
		// 	background-color: $color__light-blue;
		// 	visibility: hidden;
		// 	-webkit-transform: scaleX(0);
		// 	transform: scaleX(0);
		// 	-webkit-transition: all 0.2s ease-in-out 0s;
		// 	transition: all 0.2s ease-in-out 0s;
    // }
    // li>a:hover:before {
    //   visibility: visible;
		// 	-webkit-transform: scaleX(1);
		// 	transform: scaleX(1);
    // }
  }
}

.banner-header {
  background: transparent;
  border-bottom: 0;
  box-shadow: none;
  a {
    color: white;
    &:before {
      background-color: white;
    }
  }
}