//colours

$color__light-orange: #DD7355;
$color__dark-orange: #CD6131;
$color__light-blue: #6791A7;
$color__dark-grey: #4B3734;
$color__dark-blue: #00404A;

//fonts

$main-font: 'Ubuntu', sans-serif;